.news-feed{
    background-color: beige
}

.currency-converter{
    background-color: bisque;
}

.exchange-rate{
    background-color: antiquewhite;
}

.app{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}